.textContainer {
	height: 70vh;
	padding-top: 8rem;
	font-size: var(--font-size-4xl);
	padding-left: 10rem;
	padding-right: 10rem;
	font-family: var(--font-display);
	font-weight: var(--font-weight-bold);
}

@media (max-width: 1024px) {
	.textContainer {
		height: fit-content;
		padding-top: 2rem;
		padding-left: 4rem;
		padding-right: 4rem;
		padding-bottom: 2rem;

		font-size: min(3vw, 4rem);
	}
}
