.cartItem {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: var(--container-padding-sm);
}

.cartItemImage {
	width: 40%;
	/* No aspect-ratio or height */
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.cartItemImage img {
	max-width: 100%;
	height: auto; /* Image determines its own height */
	object-fit: contain;
	display: block;
}

.cartItemDetails {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	font-size: var(--font-size-xs);
}

.cartItemLeft {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.cartItemRight {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--text-gap);
}

.quantityControls {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.productInfo {
	display: flex;
	flex-direction: column;
	gap: var(--text-gap);
}

@media (min-width: 768px) {
	.cartItemDetails {
		font-size: var(--font-size-sm);
	}

	.cartItemLeft {
		gap: 3rem;
	}
}
