.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	overflow: hidden;
}

.title {
	font-size: min(12vw, 12.5rem);
	margin: 0;
	color: #fff;
	cursor: default;
}

:global(.char) {
	position: relative;
	display: inline-block;
	clip-path: inset(0 0.005em);
	color: transparent;
}

:global(.char__inner) {
	position: relative;
	top: 0.0725em;
	display: block;
	color: transparent;
	will-change: transform;
}

:global(.char__inner:before) {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	color: #fff;
	content: attr(data-letter) attr(data-letter) attr(data-letter);
}

:global(.char__inner:after) {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate3d(0, -50%, 0);
	color: #fff;
	word-break: break-all;
	content: attr(data-letter) attr(data-letter) attr(data-letter);
}

/* Keyframe animations */
@keyframes move-to-left {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes move-to-right {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes move-to-top {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes move-to-bottom {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 100%, 0);
	}
}

:global(.to-top .char__inner) {
	animation: move-to-top 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
}

:global(.to-right .char__inner) {
	animation: move-to-right 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
}

:global(.to-bottom .char__inner) {
	animation: move-to-bottom 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
}

:global(.to-left .char__inner) {
	animation: move-to-left 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
}
