.dotGrid {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.svg {
	display: block;
	width: 100%;
	height: 100%;
}

.dot {
	fill: #666;
	filter: drop-shadow(0 0 2px rgba(102, 102, 102, 0.5));
}
