.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #000;
	overflow: hidden;
	height: calc(100svh - 5rem - 1px);
	min-height: calc(100svh - 5rem - 1px);
}

.ditherWrapper {
	flex: 1; /* Takes up all remaining space */
	width: 100%;
	height: 100%;
	position: relative;
}

.title {
	padding: 0 var(--container-padding);
	display: flex;
	justify-content: center;
	position: relative;

	z-index: 1;
	font-size: min(12vw, 12.5rem);
	margin: 0;
	line-height: 0.8;
	padding: 1rem;
	color: #fff;
	cursor: default;
	background-color: rgb(0, 0, 0);
	width: 100vw;
}

@media (max-width: 728px) {
	.title {
		font-size: min(18vw, 8rem);
	}
}
