.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* Lägg till detta */
	overflow: hidden;
	height: calc(100svh - 5rem);
	min-height: calc(100svh - 5rem - 1px);
	position: relative; /* Viktigt för absolute positioning inuti */
}

.title {
	padding: 0.5rem;
	border: solid 2px black;
	display: flex;
	justify-content: center;
	position: relative;
	/* -webkit-text-stroke: 1px black; */
	z-index: 1;
	font-size: min(17vw, 17rem);
	margin: 0;
	line-height: 0.8;

	color: black;
	cursor: default;
	width: fit-content;
	white-space: nowrap;
}

.ditherWrapper {
	flex: 1;
	width: 100%;
	height: 100%;
	position: relative;
	min-height: 0;
}

.titleContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centrera perfekt */

	width: fit-content;
	z-index: 1;
	background-color: var(--accent);
}

/* @media (max-width: 1024px) {
	.title {
		font-size: min(12vw, 10rem);
	}
} */

@media (max-width: 728px) {
	.title {
		text-align: center;
		font-size: min(20vw, 8rem);
		flex-direction: column;
		gap: 0.5rem;
		padding: 0;
	}
}
