.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: hidden;
	height: calc(100svh - 5rem);
	min-height: calc(100svh - 5rem - 1px);
}

.ditherWrapper {
	flex: 1; /* Takes up all remaining space */
	width: 100%;
	height: 100%;
	position: relative;
}

.titleContainer {
	background-color: #000;
	height: fit-content;
}

.title {
	padding: 0 var(--container-padding);
	display: flex;
	justify-content: center;
	position: relative;
	background-color: #151515;
	z-index: 1;
	font-size: min(16vw, 12.5rem);
	margin: 0;
	line-height: 0.8;
	padding: 2rem;
	color: var(--accent);
	cursor: default;
	width: 100vw;
}

@media (max-width: 728px) {
	.title {
		font-size: min(22vw, 8rem);
		flex-direction: column;
		gap: 0.5rem;
		padding: 0;
	}
}
