.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* Lägg till detta */
	overflow: hidden;
	height: calc(100svh - 5rem);
	min-height: calc(100svh - 5rem - 1px);
	position: relative; /* Viktigt för absolute positioning inuti */
}

.ditherWrapper {
	position: absolute; /* Ändra till absolute */
	inset: 0; /* Täcker hela containern */
	z-index: 0; /* Bakom allt */
}

.titleContainer {
	position: relative; /* Ta bort absolute */
	height: fit-content;
	z-index: 1; /* Ovanför background */
}

.titleContainer {
	position: absolute;

	/* background-color: #000; */
	height: fit-content;
}

.title {
	padding: 0 var(--container-padding);
	display: flex;
	justify-content: center;
	position: relative;
	-webkit-text-stroke: 1px black;
	z-index: 1;
	font-size: min(13vw, 17rem);
	margin: 0;
	line-height: 0.8;

	color: var(--accent);
	cursor: default;
	width: 100vw;
}

.titleContainer {
	position: relative; /* Ta bort absolute */
	height: fit-content;
	z-index: 1; /* Ovanför background */
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	height: calc(100svh - 5rem);
	min-height: calc(100svh - 5rem - 1px);
	position: relative; /* Måste vara här */
}

.ditherWrapper {
	flex: 1;
	width: 100%;
	height: 100%;
	position: relative;
	min-height: 0;
}

.titleContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centrera perfekt */
	height: fit-content;
	z-index: 1;
}

/* @media (max-width: 1024px) {
	.title {
		font-size: min(12vw, 10rem);
	}
} */

@media (max-width: 728px) {
	.title {
		text-align: center;
		font-size: min(15vw, 6rem);
		flex-direction: column;
		gap: 0.5rem;
		padding: 0;
	}
}
