.container {
	display: flex;
	flex-direction: column; /* Stack children vertically */
	align-items: center;
	justify-content: center;
	background-color: #000;
	overflow: hidden;
	font-family: var(--font-display);
	font-weight: 700;
	min-height: calc(100svh - 5rem - 1px);
}

.heroImg {
	flex: 1; /* This takes up all remaining space */
	width: 100%; /* Optional: makes it full width */
	background-color: blue; /* Just for visualization */
}

.title {
	font-size: min(12vw, 12.5rem);
	margin: 0;
	line-height: 0.8;
	padding: 1rem;
	color: #fff;
	cursor: default;
}

@media (max-width: 728px) {
	.title {
		font-size: min(18vw, 8rem);
	}
}
