.container {
	display: flex;
	justify-content: flex-start; /* start on the left */
	align-items: center;
	width: 100vw;
	height: 100vh; /* enough to scroll */
	border: solid red 2px;
}

.boxContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.box {
	width: 200px;
	height: 150px;
	background-color: aqua;
}
