.productDescription {
	width: 100%;
}

.accordionTitle {
	margin: 0;
	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;
	font-family: var(--font-display);
}

.productDescription p {
	margin: 0;
	line-height: 1.6;
}
