.categoryContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(245, 31, 31);
}

.categorySection {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: rgb(255, 255, 255);
}

.imageWrapper {
	--progress: 0;

	position: absolute;
	top: 50%;
	left: 50%;

	/* This is the key transform that moves items horizontally */
	transform: translate3d(
			calc(var(--progress) * (50vw + 100%) - 50%),
			-50%,
			calc(var(--progress) * var(--progress) * -5rem)
		)
		rotateY(calc(var(--progress) * -20deg));

	will-change: transform;
}
