/* page.module.css */

.cartPage {
	padding: var(--container-padding);
}

.cartContainer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.cartItemsList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.cartItemsList::-webkit-scrollbar {
	display: none;
}

.emptyCart {
	height: calc(100vh - 5rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--accent);
	gap: 4rem;
}

/* Desktop - scrollable items, sticky summary */
@media (min-width: 1024px) {
	.cartContainer {
		flex-direction: row;
		align-items: center;
		gap: 3rem;
		max-height: 80vh; /* Set a max height */
	}

	.cartItemsList {
		flex: 2;
		overflow-y: auto; /* Scrollable */
		max-height: 80vh; /* Match container height */
	}

	.cartContainer > aside {
		flex: 1;
		position: sticky;
		top: 0;
	}
}
