.button {
	display: flex;
	align-items: center;
	justify-content: center;
	/* Base button styles */
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
}

.button[data-variant='nav'] {
	color: #000000;
	font-size: 1.25rem;
	font-family: var(--font-display);
	font-weight: 700;
	background-color: transparent;
	text-transform: uppercase;
}

.button[data-variant='nav']:hover {
	animation: flicker 0.3s ease-in-out;
	color: var(--accent);
}

@keyframes flicker {
	0%,
	100% {
		opacity: 1;
	}
	25% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.5;
	}
}

.button[data-variant='filter'] {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	background-color: var(--primary-foreground);
	/* background-color: rgba(255, 255, 255, 0.5); */
	color: inherit;
	border: 1px solid #000000;
	padding: 0.75rem 0.75rem;

	font-family: var(--font-display);
	font-weight: 700;
	text-transform: uppercase;
}

.button[data-variant='filter']:hover {
	background-color: var(--accent);
	color: var(--primary);
}

.button[data-variant='filter'][data-active='true'] {
	background-color: var(--accent);
	color: var(--primary);
}

.button[data-variant='delete'] {
	background-color: var(--primary);
	color: var(--primary-foreground);
	padding: 0.3rem 0.3rem;
	border-radius: 3px;
}

.button[data-variant='primary'] {
	font-family: var(--font-display);
	background-color: var(--primary);
	color: var(--primary-foreground);
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	width: 100%;
	display: block;
}

.button[data-variant='secondary'] {
	font-family: var(--font-display);
	background-color: var(--primary-foreground);
	color: var(--secondary-foreground);
	padding: 1rem 1.5rem;
	border: solid var(--primary) 1px;

	font-size: 1rem;
	font-weight: 700;
	width: 100%;
	display: block;
}

.button[data-variant='secondary']:hover {
	background-color: var(--accent);
}

.button[data-variant='cart'] {
	font-family: var(--font-display);
	background-color: var(--accent);
	color: var(--primary-foreground);
	/* padding: 0.35rem 0.75rem; */
	border: solid 1px black;
	height: 2rem;
	width: 2rem;
}

.button[data-variant='favorites'] {
	background: none;
	border: none;
	padding: 0;
	min-width: auto;
	color: #000000;
	pointer-events: auto; /* Ensures button is always clickable */
	cursor: pointer;
}

.button[data-variant='favorites']:hover {
}

.button[data-variant='size'] {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	height: 2rem;
	width: 2rem;
	color: inherit;
	border: 1px solid #000000;
	background-color: rgba(255, 255, 255, 0.5);

	font-family: var(--font-display);
	font-weight: 700;
	text-transform: uppercase;
}

.button[data-variant='size']:hover {
	background-color: var(--accentHover);
}

.button[data-variant='size']:active {
	background-color: var(--accent);
}

.button[data-variant='color'] {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	height: 2rem;
	width: 2rem;
	color: inherit;
	border: 1px solid #000000;
	background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
	.button[data-variant='filter'] {
		font-size: 0.7rem;
	}
}
