.button {
	/* Base button styles */
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
}

.button[data-variant='nav'] {
	color: #000000;
	font-size: 1.25rem;
	font-family: var(--font-futura), Arial, Helvetica, sans-serif;
	font-weight: 500;
	background-color: transparent;
}

.button[data-variant='filter'] {
	background-color: rgba(255, 255, 255, 0.5);
	color: inherit;
	border: 1px solid #000000;
	padding: 0.75rem 0.75rem;
	border-radius: 6px;
}

.button[data-variant='filter']:hover {
	background-color: rgba(255, 255, 255, 1);
}

.button[data-variant='filter'][data-active='true'] {
	background-color: #000000;
	color: #ffffff;
}

.button[data-variant='primary'] {
	background-color: var(--primary);
	color: var(--primary-foreground);
	padding: 1.25rem 1.5rem;
	border-radius: 3px;
	font-size: 1.5rem;
	font-weight: 600;
	width: 100%;
	display: block;
}
