.button {
	/* Base button styles */
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
}

.button[data-variant='nav'] {
	color: #000000;
	font-size: 1.25rem;
	font-family: var(--font-display);
	font-weight: 700;
	background-color: transparent;
	text-transform: uppercase;
}

.button[data-variant='nav']:hover {
	animation: flicker 0.3s ease-in-out;
}

@keyframes flicker {
	0%,
	100% {
		opacity: 1;
	}
	25% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.5;
	}
}

.button[data-variant='filter'] {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	background-color: rgba(255, 255, 255, 0.5);
	color: inherit;
	border: 1px solid #000000;
	padding: 0.75rem 0.75rem;
	border-radius: 6px;
	font-family: var(--font-display);
	font-weight: 700;
	text-transform: uppercase;
}

.button[data-variant='filter']:hover {
	background-color: rgb(218, 41, 41);
	color: white;
}

.button[data-variant='filter'][data-active='true'] {
	background-color: #000000;
	color: #ffffff;
}

.button[data-variant='delete'] {
	background-color: var(--primary);
	color: var(--primary-foreground);
	padding: 0.3rem 0.3rem;
	border-radius: 3px;
}

.button[data-variant='primary'] {
	background-color: var(--primary);
	color: var(--primary-foreground);
	padding: 1rem 1.5rem;
	border-radius: 3px;
	font-size: 1rem;
	font-weight: 600;
	width: 100%;
	display: block;
}

.button[data-variant='secondary'] {
	background-color: var(--secondary);
	color: var(--secondary-foreground);
	padding: 1rem 1.5rem;
	border-radius: 3px;
	font-size: 1rem;
	font-weight: 600;
	width: 100%;
	display: block;
}

@media (max-width: 768px) {
	.button[data-variant='filter'] {
		font-size: 0.7rem;
	}
}
