.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 2rem 1.5rem 2rem;
	background-color: #f8f9fa;
}

.rightNav {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.leftNav {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}
