.container {
	height: 100vh;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #c2c5ca; */
	overflow: hidden;
	flex-direction: column;
	gap: var(--section-gap);
	border: 4px solid #000000;
	margin: 0 auto;
}

.titleSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--section-gap);
	height: fit-content;
	border: 4px solid #000000;
}

.productSection {
	display: flex;
	gap: var(--card-gap);
}

.swiperSection {
	display: flex;
	gap: calc(var(--card-gap) * 0.5);
	width: 50%;
	height: auto;
	justify-content: center;
}
