.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--container-padding);
	border: solid var(--primary) var(--border-width);
	border-left: 0;
	border-right: 0;
	height: 100vh;

	width: 100vw;
}

.container {
	padding-top: var(--container-padding);
	display: flex;
	justify-content: space-between;
}

.section {
	display: flex;
	flex-direction: column;
	gap: var(--text-gap);
}

.bottom {
	padding-top: 4rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom h3 {
	font-family: var(--font-display);
	font-weight: 700;
	font-size: 1.5rem;
}
.list {
	display: flex;
	flex-direction: column;
	font-style: var(--font-display);
	list-style: none;
	padding-left: 0.5rem;
	gap: var(--text-gap);
}

.heading {
	background-color: var(--accent);
	border: solid var(--primary) var(--border-width);
	white-space: nowrap;
	border: 1px solid #000;
	justify-content: center;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0;
	padding: 0.5rem;

	line-height: 0.8;
	display: flex;
	position: relative;
}

@media (max-width: 1024px) {
	.footer {
		height: fit-content;
	}

	.container {
		flex-direction: column;

		gap: 2rem;
	}

	.bottom {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	.bottom h3 {
		font-family: var(--font-display);
		font-weight: 700;
		font-size: 1rem;
	}
}
