.wrapper {
	width: 100%;
	min-height: 100vh;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	margin: 0 auto;
	border: solid var(--foreground) var(--border-width);
	border-top: 0;
	width: 100%;
	max-width: 40rem;
}

.contentWrapper {
	display: flex;
}

.title {
	display: flex;
	gap: 0.5rem;
	padding: 1rem;
	font-family: var(--font-display);
}

.title h3 {
	font-size: 1rem;
}

.favoriteItems {
	display: flex;
	flex-direction: column;

	width: 100%;
	list-style: none;

	padding: 0;
}

.favoriteItems li {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	/* border-bottom: solid var(--border-width) var(--foreground); */
	border-top: solid var(--border-width) var(--foreground);
}

.imageSection {
	display: flex;
}

.imageSection img {
	display: block;
}

.infoSection {
	display: flex;
	flex-direction: column;
	flex: 1;

	justify-content: space-between;
	padding: 2rem 1rem 0.5rem 1rem;
}

.infoSection h3 {
	font-size: 1rem;
	font-family: var(--font-display);
}

.favoritesFooter {
	padding: 1rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.container {
		max-width: 100%;
		border: 0;
		border-bottom: solid var(--foreground) var(--border-width);
	}
}
