.wrapper {
	width: 100%;
	min-height: 100vh;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	border: solid var(--foreground) var(--border-width);
	border-top: 0;
	width: 100%;
	max-width: 40rem;
}

.contentWrapper {
	display: flex;
	width: 100%;
	gap: 1rem;
}

.title {
	display: flex;
	gap: 0.5rem;
	padding: 1rem;
	font-family: var(--font-display);
}

.title h3 {
	font-size: 1rem;
}

.favoriteItems {
	display: flex;
	flex-direction: column;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0; /* Add this to remove default margin */
}

.favoriteItems li {
	display: flex;
	flex-direction: column; /* Changed from column to row for side-by-side layout */
	gap: 1rem;
	border-top: solid var(--border-width) var(--foreground);
}

.imageSection {
	width: 50%;

	display: flex;
	padding: 1rem;
	aspect-ratio: 4/5;
}

.imageSection img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: solid var(--foreground) var(--border-width);
}

.infoSection {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	padding: 1rem 1rem 0.5rem 1rem;
}

.infoSection h3 {
	font-size: 1rem;
	font-family: var(--font-display);
}

.favoritesFooter {
	padding: 1rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.container {
		max-width: 100%;
		border: 0;
		border-bottom: solid var(--foreground) var(--border-width);
	}

	.favoriteItems li {
		flex-direction: column; /* Stack vertically on mobile */
	}

	.imageSection {
		padding: 1rem 0 0 1rem;
	}

	.infoSection {
		padding: 1rem 1rem 0 0;
	}
}
